<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="colr-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Maorenzic Romero Facundo</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="colr-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est, iure culpa veritatis eum rem blanditiis aliquid aliquam. Quisquam, aperiam, aliquam laudantium tempore voluptas doloremque libero blanditiis sequi dolores excepturi fugiat!</p>
        </span>
    </div>

</div>