<div class="row">
 <div class="container">
     <div class="logo">
        <img src="../../../assets/APLogo-20-20.png" id="logoAP">
     </div>
     <div class="redes"> 
        <div>
            <a href="https://www.linkedin.com/in/facundo-maorenzic-romero-9b23141b/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://twitter.com/Maorenzic1"><img src="../../../assets/twitter.png" id="twitter"></a>
            <a href="https://www.instagram.com/fackmr/"><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://github.com/fackmr"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.facebook.com/facundo.m.romero.5/"><img src="../../../assets/facebook.png" id="facebook"></a>
            <button type="button" class="btn btn-outline-light"> Ingresar </button>
            
        </div>
     </div>
 </div>


</div>
